# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# data
data_old
# results
results_old
lisa_res
.vscode 
.ipynb_checkpoints
libtorch
build
jobs

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile